.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: 39px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px
}