$background: #E7F6FF !default;
$color-white: #FFFFFF !default;
$color-green-100: #A5D364 !default;
$color-green-200: #8bb43c !default;
$color-grey-100: #F3F3F3 !default;
$color-grey-200: #F2F2F2 !default;
$color-grey-300: #D3D3D3 !default;
$color-grey-400: #C4C4C4 !default;
$color-grey-500: #BDBDBD !default;
