body {
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 85px;
  background-color: #E7F6FF;
}

.app {
  border-radius: 20px 20px 0 0;
  background-color: #FFFFFF;
}